@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}

<!-- Header -->
<header id="header" class="header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-xl-5">
                <div class="text-container">
                    <div class="section-title">Welcome to JADY web agency</div>
                    <h1 class="h1-large">JADY creates stylish and efficient sites</h1>
                    <p class="p-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dignissim, neque ut ultrices sollicitudin</p>
                    <a class="btn-solid-lg" href="#services">Offered services</a>
                    <a class="quote" href="#contact"><i class="fas fa-paper-plane"></i>Get quote</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6 col-xl-7">
                <div class="image-container">
                    <lottie-player class="w-100" src="https://assets1.lottiefiles.com/packages/lf20_aesgckiv.json" background="transparent" speed="1" loop autoplay></lottie-player>
                    @*<img  src="~/assets/Images/TemplateIMG/header-illustration.svg" alt="alternative">*@
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of header -->
<!-- end of header -->

<!-- Projects -->
<div id="projects" class="filter bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Projects that we're proud of</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Filter -->
                <div class="button-group filters-button-group row-cols-3 row-cols-lg-5">
                    <button class="button is-checked" data-filter="*">ALL</button>
                    @foreach (var item in Model?.Categories!)
                    {
                        <button class="button" data-filter=".@item.NameEnglish">@item.NameEnglish</button>
                    }
                </div> <!-- end of button group -->
                <div class="grid gap-3">
                    @foreach (var item in Model?.Products!)
                    {
                        <div class="element-item @(string.Join(" ",item?.Categories?.Select(p=>p.NameEnglish)!))">
                            <a asp-area="Customer" asp-controller="Detail" asp-action="Index" asp-route-id="@item?.Id">
                                <img style="height:200px; object-fit:cover" class="w-100" src="@item?.Image" alt="alternative">
                                <p><strong>@item?.Title</strong> - @item?.Author</p>
                                <p><strong>@item?.Price</strong></p>
                            </a>
                            <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Preview" asp-route-id="@item?.Id" >Live Preview</a>
                        </div>
                    }
                </div> <!-- end of grid -->
                <!-- end of filter -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of filter -->
<!-- end of projects -->
<!-- Invitation -->
<div class="basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <h4>In gravida at nunc sodales pretium. Vivamus semper, odio vitae mattis auctor, elit elit semper magna rico</h4>
                    <p class="p-large">Ac tristique velit sapien vitae eros. Praesent ut erat a tellus cursus pharetra finibus posuere nisi. Vivamus feugiat tincidunt sem pre toro</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-2 -->
<!-- end of invitation -->
<!-- Contact -->
<div id="contact" class="form-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading"><span>Use the following form to</span><br> request a quote for your project</h2>
                <p class="p-heading">Vel malesuada sapien condimentum nec. Fusce interdum nec urna et finibus pulvinar tortor id</p>
                <ul class="list-unstyled li-space-lg">
                    <li><i class="fas fa-map-marker-alt"></i> &nbsp;22 Praesentum, Pharetra Fin, CB 12345, KL</li>
                    <li><i class="fas fa-phone"></i> &nbsp;<a href="tel:00817202212">+81 720 2212</a></li>
                    <li><i class="fas fa-envelope"></i> &nbsp;<a href="mailto:lorem@ipsum.com">lorem@ipsum.com</a></li>
                </ul>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-10 offset-lg-1">

                <!-- Contact Form -->
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control-input" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control-input" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <select class="form-control-select" required>
                            <option class="select-option" value="" disabled selected>Project type</option>
                            <option class="select-option" value="Company Website">Company Website</option>
                            <option class="select-option" value="Landing Page">Landing Page</option>
                            <option class="select-option" value="Online Shop">Online Shop</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control-textarea" placeholder="Message" required></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control-submit-button">Submit</button>
                    </div>
                </form>
                <!-- end of contact form -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of form-1 -->
<!-- end of contact -->