@{
    ViewData["Title"] = "Home Page";
}
<!-- Projects -->
<div id="projects" class="filter bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Projects that we're proud of</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Filter -->
                <div class="button-group filters-button-group">
                    <button class="button is-checked" data-filter="*">ALL</button>
                    <button class="button" data-filter=".design">DESIGN</button>
                    <button class="button" data-filter=".development">DEVELOPMENT</button>
                    <button class="button" data-filter=".marketing">MARKETING</button>
                </div> <!-- end of button group -->
                <div class="grid">
                    <div class="element-item development">
                        <a href="article.html">
                            <img class="img-fluid" src="images/project-1.jpg" alt="alternative">
                            <p><strong>Online banking</strong> - pellentesque tincidunt leo eu laoreedt integer quis vanos compren</p>
                        </a>
                    </div>
                    <div class="element-item development">
                        <a href="article.html">
                            <img class="img-fluid" src="images/project-2.jpg" alt="alternative">
                            <p><strong>Loans company</strong> - odio semper, interdum orci molestie, mattis lectus pellentesq aliqu</p>
                        </a>
                    </div>
                    <div class="element-item development">
                        <a href="article.html">
                            <img class="img-fluid" src="images/project-3.jpg" alt="alternative">
                            <p><strong>Refinance firm</strong> - arcu a neque congue finibus doneci malesuada et purus melan bris</p>
                        </a>
                    </div>
                    <div class="element-item design development">
                        <a href="article.html">
                            <img class="img-fluid" src="images/project-4.jpg" alt="alternative">
                            <p><strong>Financial products</strong> - id aliquam ut malesuada eros utr varius blandit aliquam tinci bist</p>
                        </a>
                    </div>
                    <div class="element-item design development">
                        <a href="article.html">
                            <img class="img-fluid" src="images/project-5.jpg" alt="alternative">
                            <p><strong>Credit cards</strong> - magna a feugiat cras a semper tellus in rhoncus vehicula tellus rugo</p>
                        </a>
                    </div>
                    <div class="element-item design marketing">
                        <a href="article.html">
                            <img class="img-fluid" src="images/project-6.jpg" alt="alternative">
                            <p><strong>Software robots</strong> - vel sodales dolor donec a est sapien integer pharetr bilom conva</p>
                        </a>
                    </div>
                    <div class="element-item design marketing">
                        <a href="article.html">
                            <img class="img-fluid" src="images/project-7.jpg" alt="alternative">
                            <p><strong>Company control</strong> - ut quam aliquam elemo de vestibulum fringilla porttitor vanic tres</p>
                        </a>
                    </div>
                    <div class="element-item design marketing">
                        <a href="article.html">
                            <img class="img-fluid" src="images/project-8.jpg" alt="alternative">
                            <p><strong>Audit reports</strong> - sed tempor, metus vel pharetra finibus, est ante hendrerit augue</p>
                        </a>
                    </div>
                    <div class="element-item design marketing">
                        <a href="article.html">
                            <img class="img-fluid" src="images/project-9.jpg" alt="alternative">
                            <p><strong>Big business</strong> - aliquam semper molestie nisi, at porttitor lacus suscipit in mole richter</p>
                        </a>
                    </div>
                </div> <!-- end of grid -->
                <!-- end of filter -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of filter -->
<!-- end of projects -->