@model Product
<div class="container-fluid">

    @if (Model == null)
    {
        <h2>
            Không đúng link
        </h2>

    }
    else
    {
        <div class="row justify-content-between text-center align-middle"
             id="OptionsBar">
            <div class="col-12 col-md-3">
                <button class="btn btn-primary" onclick="ChangeToPhone()">
                    Phone
                </button>
            </div>
            <div class="col-12 col-md-3">
                <button class="btn btn-primary" onclick="ChangeToTablet()">
                    Tablet
                </button>
            </div>
            <div class="col-12 col-md-3">
                <button class="btn btn-primary" onclick="ChangeToDesktop()">
                    Desktop
                </button>
            </div>
            <hr class="my-3" />
        </div>
        <div class="d-flex justify-content-center">
            <iframe class="iframe-class min-vh-100"
                    id="Preview"
                    src="@Model.PreviewUrl"
                    title="WebPreview"></iframe>
        </div>

    }

</div>

<script>
    //let WindowHeight = window.innerHeight;
    //let OptionsBarHeight = $("#OptionsBar").height();
    //var DeviceHeight = WindowHeight - OptionsBarHeight;
    //$(".iframe-class").css("height", DeviceHeight);

    function ChangeToPhone() {
        $(".iframe-class").css("width", 576);
    }
    function ChangeToTablet() {
        $(".iframe-class").css("width", 820);
    }
    function ChangeToDesktop() {
        $(".iframe-class").css("width", "100%");
    }
</script>