
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="text-primary">
                Order List
            </h2>
        </div>
        <div class="col-12 col-md-6 text-end">
        @*    <a class="btn btn-primary" asp-controller="Order" asp-action="Upsert">
                <i class="bi bi-plus-circle"></i> Create new category
            </a>*@
        </div>
    </div>
</div>
<div class="mt-5 container-fluid">
    <div>
        <table id="tblData" class="table table-striped scroll-table w-100" style="font-size:0.8rem;">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th class="text-nowrap">
                 
                    </th>
                    <th class="text-nowrap">
                
                    </th>
                    <th class="text-nowrap">
             
                    </th>
                    <th class="text-nowrap">
                
                    </th>
                    <th class="text-nowrap">
                 
                    </th>
                    <th class="text-nowrap">
                  
                    </th>
                    <th class="text-nowrap">
                      
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


@section Scripts{
    <script src="~/js/order.js"></script>
    @*<script src="~/js//DeleteByAPI.js"></script>*@
}