
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="text-primary">
                User List
            </h2>
        </div>
    </div>
</div>
<div class="mt-5 container-fluid">
    <div class="row">
        <table id="tblData" class="table table-striped scroll-table w-100">
            <thead>
                <tr>
                    <th class="text-nowrap">
                        Name
                    </th>
                    <th class="text-nowrap">
                        Email
                    </th>
                    <th class="text-nowrap">
                        Phone Number
                    </th>
                    <th class="text-nowrap">
                        Role
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


@section Scripts{
    <script src="~/js/user.js"></script>
}