@model List< SellWebsite.Models.Models.Category>


<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="text-primary">
                Category List
            </h2>
        </div>
        <div class="col-12 col-md-6 text-end">
            <a class="btn btn-primary" asp-controller="Category" asp-action="Upsert">
                <i class="bi bi-plus-circle"></i> Create new category
            </a>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row py-2">
            <table id="tblData" class="table border table-striped" style="font-size:0.8rem">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th class="text-nowrap">
                            Name English
                        </th>
                        <th class="text-nowrap">
                            Description English
                        </th>
                        <th class="text-nowrap">
                            Name Vietnamese
                        </th>
                        <th class="text-nowrap">
                            Description Vietnamese
                        </th>
                        <th class="text-nowrap">
                            Category Image
                        </th>
                        <th class="text-nowrap">
                            Edit
                        </th>
                        <th class="text-nowrap">
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/category.js"></script>
    <script src="~/js//DeleteByAPI.js"></script>
}