@model CategoryVM

<div class="container">

    <form method="post" enctype="multipart/form-data">
        <div class="border p-3 mt-4">

            <div class="row pb-2">
                <h2 class="text-primary">@(Model.Category.Id != 0 ? "Update" : "Create") Category</h2>
            </div>
            <div asp-validation-summary="All"></div>

            <div class="mb-3 row">
                <div class="col-12 col-md-6">
                    <label asp-for="Category.Id"></label>
                    <input style="width:150px" class="form-control" readonly asp-for="Category.Id" />
                </div>
               
            </div>

            <div class="mb-3 row">
                <div class="col-12 col-md-6">
                    <label asp-for="Category.NameEnglish"></label>
                    <input class="form-control" type="text" asp-for="Category.NameEnglish" placeholder="Input Category Name" />
                    <span class="text-danger" asp-validation-for="Category.NameEnglish"></span>
                </div>
                <div class="col-12 col-md-6">
                    <label asp-for="Category.NameVietnamese"></label>
                    <input class="form-control" type="text" asp-for="Category.NameVietnamese" placeholder="Nhập tên danh mục" />
                    <span class="text-danger" asp-validation-for="Category.NameVietnamese"></span>
                </div>
            </div>
          
            <div class="mb-3 row">
                <label asp-for="Category.DescriptionEnglish"></label>
                <textarea class="form-control" rows="6" asp-for="Category.DescriptionEnglish" placeholder="Input Category Description...">

            </textarea>
                <span class="text-danger" asp-validation-for="Category.DescriptionEnglish"></span>
            </div>
            <hr class="text-primary" />
            <div class="mb-3 row">
                <label asp-for="Category.DescriptionVietnamese"></label>
                <textarea class="form-control" rows="6" asp-for="Category.DescriptionVietnamese" placeholder="Input Category Description...">

            </textarea>
                <span class="text-danger" asp-validation-for="Category.DescriptionVietnamese"></span>
            </div>

           
            <div class="row">
                <div class="col-6 col-md-3">
                    @if (Model.Category.Id != 0)
                    {
                        <button class="btn btn-primary form-control" type="submit">Update</button>
                    }
                    else
                    {
                        <button class="btn btn-primary form-control" type="submit">Create</button>
                    }
                </div>
                <div class="col-6 col-md-3">
                    <a class="btn btn-outline-secondary border form-control" asp-controller="Category" asp-action="Index">Back to list</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts
    {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons lists  table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent',
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script src="~/js/updateImageAfterInput.js"></script>
}